@CHARSET "UTF-8";
.header{ /* 헤더부분 main3 */
width: 100%; height: 100%; display: table-cell; float: left; font-family: serif; 
}
.header2{ /* 헤더부분 main 1, 2 */
width: 100%; height: 100%; display: table-cell; float: left; font-family: serif; background-color: #202f58;
}
.lefter{ /*  main1 왼쪽 카테고리 */
width: 200px; height: 1500px; display: table-cell; float: left; color: black; padding-left: 100px; font: bold;
}
.right{ /* main 3 body부분 */
width: 70%; height: 1500px; display: table-cell; float: left; font-family: '맑은고딕', sans-serif; text-align: center; color:black;  font: bold;
}
.right2{ /* main 2 body부분 */
width: 70%; height: 1200px; overflow: auto; display: table-cell; float: left; font-family: '맑은고딕', sans-serif; color:black; padding-left: 15%; vertical-align: middle; text-align: center;
}
.right3{ /* main 1 body부분 */
width: 550px; height: 1500px; display: table-cell; float: left; font-family: '맑은고딕', sans-serif; text-align: center; padding-left: 350px;
}
.footer{
width: 100%;  height: 10%; display: table-cell; float: left; font-family: '맑은고딕', sans-serif; color: white; background:rgba(0, 0, 0, 0.4);  margin: -15px; padding: 15px;
} 
.footer2{
width: 100%;  height: 10%; display: table-cell; float: left; font-family: '맑은고딕', sans-serif; color: white;  margin: -15px; padding: 15px; background-color: #202f58;
} 
.main{
display: table-row; width: 100%;
}

body {margin: 0%;}
