@CHARSET "UTF-8";
.header{
width: 100%; height: 100%; display: table-cell; float: left; font-family: serif; 
}
.header2{
width: 100%; height: 100%; display: table-cell; float: left; font-family: serif; background-color: #202f58;
}
.lefter{
width: 30%; height: 30%; display: table-cell; color: black;
}
.right{
width: 70%; height:100%; display: table-cell; float: left; font-family: '돋움', sans-serif; text-align: center; color:black; 
}
.right2{
width: 50%; height: 1300px; display: table-cell; float: left; font-family: '돋움', sans-serif; text-align: center; color:black; padding-left: 15%; text-align: center; color: black;
}
.footer{
width: 100%;  height: 10%; display: table-cell; float: left; font-family: '돋움', sans-serif; color: white; background:rgba(0, 0, 0, 0.4);  margin: -15px; padding: 15px;
} 
.footer2{
width: 100%;  height: 10%; display: table-cell; float: left; font-family: '돋움', sans-serif; color: white;  margin: -15px; padding: 15px; background-color: #202f58;
} 
.main{
display: table-row;
}
